@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(pt-sans-regular.woff) format('woff');
}

body {
  background-color: white;
  font-family: 'PT Sans', sans-serif;
}

.background {
  width: 980px;
  height: 735px;
  margin: auto;
  background-image: url('barn.png');
  background-repeat: no-repeat;
}

.container {
  width: 880px;
  height: 655px;
  margin: auto;
  padding-top: 40px;
}

h1 {
  font-size: 48px;
  margin-bottom: 0px;
  margin-top: 0px;
  letter-spacing: 3px;
}

h2 {
  margin: 0px;
  letter-spacing: 2px;
}

ul {
  margin: 0px;
}

.list-header {
  padding: 100 0 0 0px;
  font-size: 125%;
}

.body-text {
  line-spacing: 1.5;
  font-size: 125%;
  margin-bottom: 10px;
}
